<div id='category_list'>
	<h6>Categories</h6>
	<% @categories.each do |c| %>
		<a href="/c/<%= c.name %>"><%= c.name %></a><br/>
	<% end %>
	<% if current_user %>
		<%= link_to "New Category", :new_category, {:class => "btn", :id => "new_category_button"} %>
	<% end %>
</div>