<h1>Bookmarks</h1>
<br/>
<table class='table'>
<% @bookmarks.each do |x| %>
	<tr><td><a href='<%= x.url %>'><%= x.title %></a></td><td><%= x.category %></td><td><%= x.user %></td></tr>
<% end %>
</table>