<a href="javascript:
(function(){
	m=document.createElement('script');
	m.type='text/javascript';
	m.src='http://localhost:3000/marklet.js?random='+ (Math.random() * 99999999);
	document.body.appendChild(m);
})();">Marklet</a>