
<div id='instructionContainer'>
	<h1 style='font-size: 60px; margin: 0 0 20px 0'>Let's Get Started!</h1>
	<br/>
	<ol>
		<h2><li>Drag this bookmarklet to the bookmark toolbar in your browser:</li></h2>
	<div id='buttonContainer'>
		<a href="<%= @script %>" class='btn btn-primary' id='markletButton'><i class="icon-plus icon-white"></i>&nbsp;marklet</a>
	</div>
		<h2><li>Save a page to market by clicking the button in your tool bar.</li></h2>
		<br/>
		<h2><li>Visit <%= link_to "marklet", root_path %> to see all of the cool pages people have saved.</li></h2>
	</ol>
</div>