/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#registrationForm {
	position: relative;
	top: -20px;
}

.formLabel {
	position: relative;
	top: 20px;
}

.registrationComponent {
	margin: -20px 0 0 0;
}

#instructionContainer {
	background-color: #eee;
	width: 95%;
	height: 100%;
	padding: 5%;
	border-radius: 6px;
}

#buttonContainer {
	display: block;
	width: 100px;
	margin: 20px auto 20px auto ;
}

#markletButton { 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bookmark_table {
	width: 100%;
}

.bookmark_row {
	width: 100%;
}

.bookmark_action:link, .bookmark_action:hover, .bookmark_action:visited, .bookmark_action:active {
	display: none;
	margin: 0 4px 0 4px;
	text-decoration: none;
	color: #333;
}

.action_cell {
	width: 50px;
}

#category_list {
	position: relative;
	display: block;
	top: 16px;
}

#new_category_button {
	margin-top: 10px;
}

#edit_category_button {
	float: right;
}

.subscribe_button {
	float: right;
	margin: 0 5px 0 5px;
}